body {
	background:#c9c9c9;
}

.main_wrapper {
	width:1000px;
	height:auto;
	margin:auto;
}

header {
	width:1000px;
	height:150px;
	margin:auto;
	background: #83CBA6;
}

#logo {
	float:left;
}

#banner {
	float:right;
}

nav {
	width:1000px;
	height:50px;
	background: #AAA9A8;
	color:white;
}

#menu {
	padding:0;
	margin:0;
	line-height: 45px;
	float:left;
}

#menu li {
	list-style: none;
	display: inline;
}

#menu a {
	text-decoration: none;
	color: #fff;
	padding:8px;
	margin:5px;
	font-size: 18px;
	font-family: COMIC SANS MS;
}

#menu a:hover {
	color:#83CBA6;
	font-weight: bolder;
	text-decoration: underline;
}

#search {
	float:right;
	padding-right: 8px;
	line-height: 50px;
}

.content-wrapper {
	width:1000px;
	height: 800px;
	background: #EFE9C5;
	float:right;
}

main {
	width:1000px;
	height: 800px;
	background: #EFE9C5;
}

aside {
	width:200px;
	height: 800px;
	background: #EC564F;
	color:#fff;
	float:left;
}

.sidebar-title {
	background:#fff;
	color:#000;
	font-size: 22px;
	font-family: COMIC SANS MS;
	font-weight: bolder;
	padding:10px;
	text-align: center;
}

.categories {
	text-align: center;
}

.categories li {
	list-style: none;
	margin: 5px;
	padding: 8px;
	
}

.categories a {
	color:#000;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: COMIC SANS MS;
}

.categories a:hover{
	color:#fff;
	font-weight: bolder;
	text-decoration: underline;
}

footer {
	width: 1000px;
	height:100px;
	background: #83CBA6;
	clear:both;
}